{% extends "layout.html" %}

{% set active_page = "Data-For-Majors" %}

{% block title %}Majors{% endblock %}

{% block content %}
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<form action="/response" class = "marginL">
  <label for = "major">Choose a Major (2015):</label>
  <select name="major" id="major">
    {{ majorsdata }}
  <input type="submit" value="Get Data">
</form>
<p class = "marginL"> {{ firstfact }} </p>
<p class = "marginL"> {{ secondfact }} </p>
<p class = "marginL"> {{ thirdfact }} </p>
{% endblock %}
