{% extends "layout.html" %}

{% set active_page = "Data-For-Majors" %}

{% block script %}
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "dark2",
	exportFileName: "Doughnut Chart",
	exportEnabled: true,
	animationEnabled: true,
	title:{
		text: "Monthly Expense"
	},
	legend:{
		cursor: "pointer",
		itemclick: explodePie
	},
	data: [{
		type: "doughnut",
		innerRadius: 90,
		showInLegend: true,
		toolTipContent: "<b>{name}</b>: ${y} (#percent%)",
		indexLabel: "{name} - #percent%",
		dataPoints: [
			{ y: 450, name: "Food" },
			{ y: 120, name: "Insurance" },
			{ y: 300, name: "Travelling" },
			{ y: 800, name: "Housing" },
			{ y: 150, name: "Education" },
			{ y: 150, name: "Shopping"},
			{ y: 250, name: "Others" },
			{ y: 450, name: "23333" },
			{ y: 120, name: "2323232323" },
			{ y: 300, name: "2323" },
			{ y: 800, name: "232323" },
			{ y: 150, name: "2323233" },
			{ y: 150, name: "233"},
			{ y: 250, name: "12323" }
		]
	}]
});
chart.render();

function explodePie (e) {
	if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	} else {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
	}
	e.chart.render();
}

}
</script>
{% endblock %}

{% block title %}Majors{% endblock %}

{% block content %}
{{ graph }}
<form action="/response" class = "marginL">
  <label for = "major">Choose a Major (2015):</label>
  <select name="major" id="major">
    {{ majorsdata }}
  <input type="submit" value="Get Data">
</form>
<p class = "marginL"> {{ firstfact }} </p>
<p class = "marginL"> {{ secondfact }} </p>
<p class = "marginL"> {{ thirdfact }} </p>
{% endblock %}
