{% extends "layout.html" %}

{% set active_page = "Data-For-Majors" %}

{% block script %}
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "dark2",
	exportFileName: "Doughnut Chart",
	exportEnabled: true,
	animationEnabled: true,
	title:{
		text: "Work Activity for" + {{ major }}
	},
	legend:{
		cursor: "pointer",
		itemclick: explodePie
	},
	data: [{
		type: "doughnut",
		innerRadius: 90,
		showInLegend: true,
		toolTipContent: "<b>{name}</b>: ${y} (#percent%)",
		indexLabel: "{name} - #percent%",
		dataPoints: [
			{ y: 45381, name: "45381" },
			{ y: 15675, name: "15675" },
			{ y: 7272, name: "7272" },
			{ y: 13822, name: "13822" },
			{ y: 12305, name: "12305" },
			{ y: 12875, name: "12875" },
			{ y: 28479, name: "28479" },
			{ y: 42443, name: "42443" },
			{ y: 10119, name: "10119" },
			{ y: 9911, name: "9911" },
			{ y: 25925, name: "25925" },
			{ y: 20970, name: "20970" },
			{ y: 52257, name: "52257" },
			{ y: 12358, name: "12358" }
		]
	}]
});
chart.render();

function explodePie (e) {
	if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	} else {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	}
	e.chart.render();
}

}
</script>
{% endblock %}

{% block title %}Majors{% endblock %}

{% block content %}
{{ graph }}
<form action="/response" class = "marginL">
  <label for = "major">Choose a Major (2015):</label>
  <select name="major" id="major">
    {{ majorsdata }}
  <input type="submit" value="Get Data">
</form>
<p class = "marginL"> {{ firstfact }} </p>
<p class = "marginL"> {{ secondfact }} </p>
<p class = "marginL"> {{ thirdfact }} </p>
{% endblock %}
