<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <script>
      window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "dark2",
	exportFileName: "Doughnut Chart",
	exportEnabled: true,
	animationEnabled: true,
	title:{
		text: "Monthly Expense"
	},
	legend:{
		cursor: "pointer",
		itemclick: explodePie
	},
	data: [{
		type: "doughnut",
		innerRadius: 90,
		showInLegend: true,
		toolTipContent: "<b>{name}</b>: ${y} (#percent%)",
		indexLabel: "{name} - #percent%",
		dataPoints: [
			{ y: 6000, name: "Food" },
			{ y: 120, name: "Insurance" },
			{ y: 300, name: "Travelling" },
			{ y: 800, name: "Housing" },
			{ y: 150, name: "Education" },
			{ y: 150, name: "Shopping"},
			{ y: 250, name: "Others" }
		]
	}]
});
chart.render();

function explodePie (e) {
	if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	} else {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	}
	e.chart.render();
}

}
    </script>
    <script src = "{{ url_for('static', filename='canvas.js') }}"></script>
    <title>{% block title %}{% endblock %} - Graduates Dataset</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-success navbar-dark">
      <a class="navbar-brand" href="#">CORGIS Graduates Data</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li {% if active_page == "home" %} class="nav-item active"{% else %}class="nav-item"{% endif %}>
            <a class="nav-link" href="/">Home</a>
          </li>
          <li {% if active_page == "Data-For-Majors" %} class="nav-item active"{% else %}class="nav-item"{% endif %}>
            <a class="nav-link" href="/Data-For-Majors">Data for Majors</a>
          </li>
          <li {% if active_page == "g1" or "g2" %} class="nav-item dropdown active"{% else %}class="nav-item dropdown-toggle "{% endif %}>
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Data Trends
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/g1">The Livelihoods of Majors</a>
              <a class="dropdown-item" href="/g2">Major Trends (Pop Date)</a>
            </div>
          </li>
        </ul>
      </div>  
    </nav>
    
    <!--page content-->
    {% block content %}{% endblock %}
    
  </body>
</html>
